.sidebar{
   background:#fff;
   width:15%;
   height:100vh;
   position:fixed; 
   top:1;
   padding-left:2%;
   padding-top:15px;
   margin-top:1px;
}
.shortcut-links img{
   width:20px;
   margin-right:20px;
}
.sidebar p:hover{
   text-decoration: underline;
}
.side-link p:hover{
   text-decoration: none;
}
.sidelinks{
   display:flex;
   align-items: center;
   margin-bottom: 20px;
   width:fit-content;
   flex-wrap:wrap;
   cursor:pointer;
}
.sidebar hr{
   border:none;
   height:1px;
   background:#ccc;
   width:85%;
}
.subscribed-list h3{
   font-size:13px;
   margin:20px 0;
   color:#5a5a5a;
}
.side-link{
   display: flex;
   align-items: center;
}
.side-link img{
   width:20px;
   margin-right:15px; 
}
.subscribed-list .side-link img{
   width: 30px;
   border-radius:50%;
}
.side-link p{
   font-size:13px;
}
.shortcut-links .side-link p:hover{
   cursor:pointer;
   border-bottom:2px solid hsla(0, 0%, 0%, 0.826);
}
.side-link{
   margin-bottom: 13px;
}
.small-sidebar{
   width:5%
}
.small-sidebar p{
   display: none;
}
.small-sidebar h3{
   display:none
}
.small-sidebar hr{
   width: 50%;
   margin-bottom: 25px;
}
.side-link.active img{
   padding-bottom:2px;
   border-bottom:3px solid red;
}